.hidden {
  display: none !important;
}

#leaflet-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin-bottom: 30px;
}
#map {
  flex: 1 1 500px;
  min-width: 300px;
  height: 350px;
}

#heatmap-container img {
  margin-bottom: 30px;
  width: 100%;
  max-width: 1000px;
  display: block;
  margin-left: 10%;
}

#map-legend {
  background: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  font-size: 14px;
  line-height: 2.0;
  flex: 0 0 200px;
}

.leaflet-popup-content .custom-popup {
  font-family: "GDS Transport", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

.leaflet-popup-content .custom-popup a {
  font-weight: bold;
  font-size: 16px;
  color: #1d70b8;
  text-decoration: none;
}

.leaflet-popup-content .custom-popup a:hover {
  text-decoration: underline;
}

.leaflet-popup-content .custom-popup .score-box {
  display: block;
  margin-top: 6px;
  font-size: 14px;
  font-weight: bold;
  color: black;
}

@media (max-width: 768px) {
  #leaflet-container {
    flex-direction: column;
  }

  #map-legend {
    width: 100%;
  }
}