# Created by venv; see https://docs.python.org/3/library/venv.html
.env

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Flask cache / temporary files
instance/
*.sqlite3

# IDE / editor files
.vscode/
.idea/

# cache folders
cache/

# Ignore large data file 129mb will not load to github
data/bristol_buildings.geojson